* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.un {
    border-top: solid 5px darkgray;
    z-index: 2; 
    position: fixed; bottom:0; left:0; right:0;
    background-color: white;
    font-size: 20px;
}