* {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}
s

.un {
    border-top: solid 5px darkgray;
    z-index: 2; 
    position: fixed; bottom:0; left:0; right:0;
    background-color: white;
    font-size: 20px;
}

.imgbar {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    max-width: 550px;
    max-height: 550px;
    background: #FF6347;
    height: 100%;
    overflow: auto;
    position: fixed;
}

.x{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.img:hover{
    opacity: 0.7;
}

.scrollbar { 
    width: 250px;
    height: 250px;
    overflow-y: scroll; /*  */
  }
  
  /* 스크롤바의 폭 너비 */
  .scrollbar::-webkit-scrollbar {
      width: 10px;  
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
      background: rgba(220, 20, 60); /* 스크롤바 색상 */
      border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }
  
  .scrollbar::-webkit-scrollbar-track {
      background: rgba(220, 20, 60, .1);  /*스크롤바 뒷 배경 색상*/
  }